* {
	font-family: sans-serif;
	box-sizing: border-box;
	color: var(--font);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	background: var(--latar);
}

:root {
	--latar: #004445;
	--font: #FAF5E4;
	--tombol: #2C786C;
	--kuning: #F8B400;
}

.container {
	width: 100%;
	max-width: 900px;
	padding: 20px 10px;
}

#splash {
	position: absolute;
	height: 90vh;
}

.bendera {
	position: absolute;
	width: 36vmin;
	height: 8vmin;
	background: red;
	left: 50%;
	transform: translateX(-50%);
	top: 10vmin;
	opacity: 0;
}

#bendera-putih {
	background: #fff;
	top: 18vmin;
}

#bendera-biru {
	background: blue;
	top: 26vmin;
	transform-origin: 50% 0%;
}

.tombol {
	background: var(--tombol);
	padding: 10px 20px;
	border-radius: 7px;
	border: 3px solid;
	border-width: 3px 0 0 0;
	cursor: pointer;
}

.tombol:hover, .tombol:active {
	background: #236057;
}

#tombolMulai {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20vmin;
	display: none;
}

#perkenalan {
	display: none;
}

#game {
	display: none;
	position: absolute;
	margin-top: 50px;
	height: 90vh;
}

.gambarPahlawan {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 300px;
}

#tombolPilih {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	bottom: 0;
	left: 0;
	justify-content: space-around;
	width: 100%;
}

.pilihTombol {
	margin: 10px;
	width: 80%;
}

#detik {
	width: 100vw;
	left: 0vw;
	height: 1vh;
	background: var(--kuning);
	display: none;
}

#jeda, #selesai {
	display: none;
}

#tombolLanjut {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10vh;
}